<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/backgroundImage/logo_dark.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="google-site-verification" content="CyP_KdqlU1_TID2HNHEEgpp2M0fzOGkYzOjx-Z21xCg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Login</title>
    <script>
        $(document).ready(function () {
            $("#exampleModal").modal('show');
        }); 
    </script>
</head>

<!--For the animation-->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<!--For the navBar shwoing the logo-->
<nav>
    <img src="../static/images/backgroundImage/new_logo.png" />
</nav>
<div id="content">

    <body class="body" onload="document.getElementById('id01').style.display='block'" style="width:auto;">
        <div>
            <form style="margin-top: 10%;" action="{{ url_for('login')}}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color: white;">Username</label>
                    <input required type="text" name="username" class="form-control" aria-describedby="emailHelp"
                        placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" style="color: white;">Password</label>
                    <input required type="password" class="form-control" name="password" placeholder="Password">
                </div>
                {% if not login_status %}
                <span style="color: red;">
                    {{ error_message }}
                </span>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <div>
                    <label style="font-size: small;text-align: center;"><a style="color: white;" href="{{ url_for('register')}}">Dont have an account? Signup</a></label>
                </div>
                <div>
                    <label style="font-size: small;text-align: center;"><a style="color: white;" href="{{ url_for('recover_password')}}">Forgot Password?</a></label>
                </div>
            </form>
        </div>

    </body>
</div>
<!--This is for the footer-->
<footer style="color: white;text-align: center;margin-top: 100px;">
    Copyright@2022: CodeHelpers
    <div style="color: white;">
        <a href="{{url_for('homepage')}}" class="fa fa-home" style="margin-right: 10px;"></a>
        <a href="https://www.linkedin.com/in/himanshuranjan95" class="fa fa-linkedin" style="margin-right: 10px;"></a>
        <a href="https://www.instagram.com/hemanranjan/" class="fa fa-instagram" style="margin-right: 10px;"></a>
    </div>
</footer>

<!--For the animation-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for("static", filename="js/vendor/jquery-1.9.1.min.js") }}""><\/script>')</script>
<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/login.js') }}"></script>

</html>